:root {

    --primary-font: "Raleway";
    --secondary-font: "Open Sans";
    --blue-color: #08A6E4;
    --black-color: #000000;
    --gray-color: #A5A5A5;
    --shadow-color: #00000029;
    --red-color: #FB3B64;
    --red2-color: #EB476E;
    --green-color: #55DFB4;
    --white-color: #FFFFFF;
    --lightgray: #F7F7F7;
    --shadow-box-color: #07ACE629;
    --input-border-color: #95989A;
    --gray-text-color: #707070;

}
* {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 1352px;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px var(--shadow-color);
}

.logo  {
    font-family: var(--primary-font);
    color: var(--blue-color);
    font-size: 32px;
    font-weight: 300;
    flex: 1;
    padding-bottom: 16px;
    padding-top: 16px;
}
.nav_link_block {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1;
}
.nav_link {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    font-weight: 700;
    color: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    padding-top: 28px;
    padding-bottom: 28px;
    box-sizing: border-box;
    border-bottom: 4px solid white;
}
.nav_item {

}
.nav_link:hover {
    border-bottom: 4px solid var(--blue-color);
    color: var(--black-color);
}

.open_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.open_section_header {
    font-size: 49px;
    font-family: var(--primary-font);
    font-weight: 400;
    color:  var(--black-color);
    margin-top: 130px;
    margin-bottom: 20px;
}
.open_section_text {
    font-size: 16px;
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--black-color);
    margin-bottom: 28px;
}
.open_section_btn {
    font-size: 16px;
    font-family: var(--secondary-font);
    font-weight: 700;
    color: var(--white-color);
    padding: 23px 157px;
    background-color: var(--blue-color);
    border-radius: 40px;
    position: relative;
    bottom: -10px;
    text-decoration: none;
}
.statistics_section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1352px;
}
.statistics_section_header {
    font-family: var(--primary-font);
    font-size: 36px;
    color: var(--black-color);
    margin-top: 100px;
    margin-bottom: 100px;
}
.statistics_section_block {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 150px;
    padding-left: 150px;

}
.statistics_section_column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_img {
    position: absolute;
    left: 30px;
}
.red {
    background-color: var(--red-color);

}
.blue {
    background-color: var(--blue-color);
}
.green {
    background-color: var(--green-color);
}

.statistics_column_header {
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 900;
    color: var(--black-color);
    margin-top: 14px;
    margin-bottom: 19px;
}
.statistics_column_text {
    font-family: var(--primary-font);
    font-size: 17px;
    color: var(--gray-color);
    text-align: center;
    margin-bottom: 149px;

}
.benefits_section .container {
    width: 1124px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.benefits_section {
    background-color: var(--lightgray);
}

.benefits_article_top {
    background-color: var(--white-color);
    position: relative;
    margin-top: 105px;
    margin-bottom: 37px;
}
.line {
    width: 327px;
    height: 4px;
}
.red_line {
    background-color: var(--red-color);
    float: left;
    margin-left: 35px;
}
.macbook {
    height: 219px;
    width: 386px;
    float: right;
    margin-top: 113px;
    margin-bottom: 38px;
    margin-right: 117px;
    position: relative;
    z-index: 2;
}
.img_bg_red_element {
    position: absolute;
    right: 90px;
    top: calc(100% / 2 - (180px /2 + 30px));
    transform: rotate(45deg);
    height: 180px;
    width: 180px;
    background-color: var(--red-color);
    border-radius: 41px;
    z-index: 1;

}
.benefits_header {
    font-family: var(--primary-font);
    font-size: 36px;
    color: var(--black-color);
}
.top_article_header {
    margin: 91px 347px 30px 36px;
}
.benefits_text {
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--black-color);
    max-width: 416px;
    margin-bottom: 50px;
}
.top_article_text {
    margin-left: 35px;
}
.benefits_article_middle {
    position: relative;

}
.iphone {
    height: 328px;
    width: 426px;
    position: relative;
    float: left;
    margin-left: 70px;
    margin-bottom: 13px;
    margin-top: 29px;
    z-index: 2;
}
.benefits_article_middle {
    background-color: var(--white-color);
    margin-bottom: 37px;
}
.middle_article_text {
    float: right;
    text-align: left;
    margin-top: 30px;
    margin-right: 20px;
}
.blue_line {
    background-color: var(--blue-color);
    float: right;
    margin-right: 110px;
}
.middle_article_header {
    float: right;
    text-align: left;
    max-width: 246px;
    margin-top: 69px;
    margin-left: 190px;
    margin-right: 192px;
}
.img_bg_blue_element {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: var(--blue-color);
    position: absolute;
    left: 70px;
    top: 10px;
}
.benefits_article_bottom {
    display: flex;
    margin-bottom: 105px;
}
.benefits_content_bottom {
    background-color: var(--white-color);

}
.trumpet {
    width: 295px;
    height: 207px;
    margin: 98px 82px 64px 62px;
}
.benefits_img_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-color);
    margin-left: 61px;
}
.bottom_article_header {
    margin: 69px 240px 30px 35px;
}
.bottom_article_text {
    margin-left: 35px;
    margin-bottom: 44px;
}
.green_line {
    background-color: var(--green-color);
    float: left;
    margin-left: 35px;
}
.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing_header {
    font-size: 36px;
    font-family: var(--primary-font);
    color: var(--black-color);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.pricing_section_block {
    display: flex;
    justify-content: space-evenly;
}
.pricing_column {
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.pricing_column_header {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    color: var(--black-color);
    margin-top: 34px;
    margin-bottom: 14px;
}
.basic_header {
    margin-right: 160px;
    margin-left: 160px;
}
.professional_header {
    margin-left: 141px;
    margin-right: 141px;
}
.premium_header {
    margin-right: 143px;
    margin-left: 143px;
}
.cost {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 46px;
}
.pricing_basic_cost {
    color: var(--red-color);
    margin-bottom: 69px;
}
.pricing_professional_cost {
    color: var(--blue-color);
    margin-bottom: 5px;
}
.pricing_premium_cost {
    color: var(--green-color);
    margin-bottom: 5px;
}
.limited_offer {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 12px;
    color: var(--black-color);
}
.limited_professional {
    margin-bottom: 61px;
}
.limited_premium {
    margin-bottom: 50px;
}
.pricing_offer {
    font-family: var(--secondary-font);
    font-size: 14px;
    color: var(--black-color);
    text-align: center;
    margin-bottom: 81px;
}
.offer_checked::before {
    content:"";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 2px;
    background-image: url("../assets/Ckechmark-1.svg");
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}
.offer_not_checked::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 2px;
    background-image: url("../assets/Close.svg");
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}
.pricing_begin_btn {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 13px;
    color: var(--white-color);
    padding: 16px 57px;
    border-radius: 23px;
    text-decoration: none;
    position: absolute;
    bottom: calc(0% - (50px / 2));
    left: calc(50% - (150px / 2));
}
.pricing_basic {
    border: 1px solid var(--red-color);
    margin-right: 59px;
    margin-top: 21px;
    margin-bottom: 197px;
}
.pricing_professional {
    border: 1px solid var(--blue-color);
    margin-right: 58px;
    margin-bottom: 179px;
    box-shadow: 5px 10px 27px var(--shadow-box-color);
}
.pricing_premium {
    border: 1px solid var(--green-color);
    margin-top: 21px;
    margin-bottom:  197px;

}
.basic_btn {
    background-color: var(--red-color);
}
.professional_btn {
    background-color: var(--blue-color);
}
.premium_btn {
    background-color: var(--green-color);
}

.pricing_offer li {
    margin-bottom: 20px;
}
.contact {
    display: flex;
    margin-right: 365px;
    margin-left: 365px;
    margin-bottom: 59px;
}
.contact_left_block {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.contact_right_block {
    width: 50%;

}
.contact_header {
    font-family: var(--primary-font);
    font-size: 49px;
    color: var(--black-color);
    margin-right: 114px;
    margin-top: 0;
}
.contact_text {
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--black-color);
    margin-top: 22px;
    margin-bottom: 42px;
}
.contact_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_data {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 600;
    color: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    height: 27px;
    width: 27px;
    margin-right: 10px;
}
.mail {
    margin-right: 20px;
}
.contact_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
lable:not(.checkbox) {
    font-family: var(--secondary-font);
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue-color);
}
input[type="text"],input[type="email"] {
    width: 100%;
    min-height: 43px;
    outline-style: none;
    border: none;
    border-bottom: 1px solid var(--input-border-color);
}
input[type="text"]:focus, input[type="email"]:focus {
    border-bottom: 1px solid var(--blue-color);
    background-color: var(--lightgray);
}
input[type="text"] {
    margin-bottom: 42px;
}
input[type="email"] {
    margin-bottom: 30px;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox {
    cursor: pointer;
    display: flex;
    color: var(--gray-text-color);
    font-size: 12px;
    font-family: var(--secondary-font);
    min-width: 100%;
    height: 108px;
    margin-bottom: 20px;
    margin-top: 30px;

}
.checkbox span {
    height: 24px;
    flex-basis: 24px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--input-border-color);
    margin-right: 10px;
}
.checkbox input:checked + span {
    background-image: url("../assets/Checkmark.svg");
    background-size: cover;
    background-position: center;
}
button {
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-size: 13px;
    padding: 20px 97px;
    border-radius: 35px;
    background-color: var(--blue-color);
    border: none;
    align-self: flex-end;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 136px;
    margin-left: 136px;
}
.footer {
    box-shadow: 0px -5px 40px var(--shadow-color);
}
.footer_logo_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.social_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer_logo {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 26px;
    color: var(--blue-color);
    padding-top: 20px;
    margin-bottom: 6px;
}
.footer_small {
    font-family: var(--secondary-font);
    font-size: 11px;
    color: var(--gray-color);
    padding-bottom: 17px;
}
.social_icon {
    margin-right: 20px;
}
